<main *ngIf="inWork" class="pressure component flex-row center">

    <div class="flex-column center">
        <span>
            Nível do mar:
        </span>
        <h2>
            {{ pressure.main.sea_level }} hPa
        </h2>
    </div>
    <div class="flex-column center">
        <span>
            Nível do solo:
        </span>
        <h2>
            {{ pressure.main.grnd_level }} hPa
        </h2>
    </div>

</main>
<main *ngIf="!inWork" class="pressure component flex-row center">

    <div class="not-found">

        <h2>
            Sem dados de pressão!!
        </h2>

    </div>

</main>