<main class="pressure component">

    <div class="pressure-container flex-row center">

        <div class="flex-row center">
            <span>
                Nível do mar:
            </span>
            <h2>
                {{ pressure.main.sea_level }} hPa
            </h2>
        </div>
        <div class="flex-row center">
            <span>
                Nível do solo:
            </span>
            <h2>
                {{ pressure.main.grnd_level }} hPa
            </h2>
        </div>

    </div>
    
</main>