.home {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.logo-container {
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.logo {
    font-size: 3rem;
}

.site-name {
    font-size: 3rem;
    margin: 0;
}

.nav-container {
    width: 100%;
}

.navbar {
    gap: 1rem;
}

.search-input {
    border: none;
    height: 3rem;
    width: 25rem;
    padding-left: 1rem;
    border-radius: 2rem;
}

.search-btn {
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.lang-container {
    width: 100%;
}

.lang-change-box {
    padding: 0.4rem;
    background-color: #282a29;
    border-radius: 1rem;
}

.lang-brand {
    margin: 0.2rem;
}

.lang-change {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.2rem;
}

.language-choose {
    margin-right: 0.4rem;
}

option {
    background-color: #282a29;
    padding: 0.6rem;
    border: none;
}

.btn-change-lang {
    border: none;
    background-color: #282a29;
    color: #fff;
    border-radius: 50%;
}

.fa-circle-info {
    margin-left: 0.6rem;
    font-size: 1.4rem;
}

.divInfo {
    border-radius: 2rem;
    border: 1px solid #000;
    position: absolute;
    padding: 0 0.6rem;
    right: 3rem;
    top: 3rem;
    background-color: #fff;
}

.divInfo p {
    font-size: 0.8rem;
    color: #000;
}

.divInfo span {
    font-size: 0.6rem;
    color: #000;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .site-name,
    .logo {
        font-size: 1.8rem;
    }

    .search-input {
        width: 18rem;
    }

    .lang-container {
        flex-direction: column;
    }

    .fa-circle-info{
        margin-top: 0.6rem;
    }
}

@media only screen and (max-width: 768px) {

    .site-name,
    .logo {
        font-size: 1.8rem;
    }

    .search-input {
        width: 15rem;
    }

    .lang-container {
        flex-direction: column;
    }

    .divInfo {
        padding: 0 0.3rem;
        top: 4rem;
    }

}

@media only screen and (max-width: 425px) {
    .home {
        flex-direction: column;
        gap: 1rem;
    }

    .site-name {
        font-size: 1.8rem;
    }

    .search-input {
        width: 20rem;
    }

    .lang-container {
        flex-direction: column;
    }

    .divInfo {
        padding: 0 0.3rem;
        right: 5rem;
        top: 12rem;
    }

    .divInfo p {
        font-size: 0.6rem;
    }

    .divInfo span {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .search-input {
        width: 13rem;
        max-width: 17rem;
    }

    .divInfo {
        padding: 0 0.3rem;
        top: 12rem;
    }

    .divInfo p {
        font-size: 0.6rem;
    }

    .divInfo span {
        font-size: 0.5rem;
    }
}