<main class="city-container component">

    <div class="city-data flex-row center">

        <h1 class="city-name">
            {{ city.name }}
        </h1>
        <span>
            <img class="city-badge" src="{{ city.countryBadge }}" alt="{{ city.countryCode }}">
        </span>

    </div>
    <div class="country-data flex-row center">

        <h2 class="country-name">
            {{ city.country }}
        </h2>
        <span class="country-code">
            <span>
                -
            </span>
            {{ city.countryCode }}
        </span>

    </div>
    <div class="capital-container flex-row center">

        <div class="capital-box flex-column center">
            <span>
                Capital do país:
            </span>
            <h2 class="capital">
                {{ capitalName }}
            </h2>

        </div>
        <div class="timeUTC-box flex-column center">
            <span>
                Horário Local:
            </span>
            <h2 class="timeUTC">
                {{ timeUTCCapital }}
            </h2>

        </div>

    </div>

</main>