<main class="city-container component">

    <div class="city-data flex-row center">

        <h1 class="city-name">
            {{ city.name }}
        </h1>
        <span>
            <img class="city-badge" src="{{ city.countryBadge }}" alt="{{ city.countryCode }}">
        </span>

    </div>
    <div class="country-data flex-row center">

        <h2 class="country-name">
            {{ city.country }}
        </h2>
        <span class="country-code">
            <span>
                -
            </span>
            {{ city.countryCode }}
        </span>

    </div>
    <div class="lat-lon-data flex-row center">

        <span class="latitude flex-column center">
            Latitude:
            <h2>
                {{ city.coord.lat }}°
            </h2>
        </span>
        <span class="longitude flex-column center">
            Longitude:
            <h2>
                {{ city.coord.lon }}°
            </h2>
        </span>
    </div>

</main>